@media screen and (max-width:425px) {

    input {
        width:290px;
        padding: 5px;
        margin: 10 0px;
    }
}

@media (min-width:426px) and (max-width:3000px){
input {
    padding: 5px;
    margin: 10 0px;
}
}


textarea {
    padding: 15px;
    margin: 10 0px;
}

select {
    padding: 15px 45px;
    margin: 10 0px;
}

label {
    width: 200px;
}

.option {
    height: 70px;
    padding: 20px 40px;

}